.favourite{
  display: flex;
  flex-flow: row wrap;
  color: white;
  gap: 40px;
  margin: 10px
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

.favourite-bg-1 {
    background-image: url(../img/favourites/indonesia.png);
    flex: 1;
    padding: 30px;
  }
  
  .favourite-bg-2 {
    background-image: url(../img/favourites/australia.png);
    flex: 1;
    /* margin: 10px; */
    padding: 30px;
  }
  
  .favourite-bg-3 {
    background-image: url(../img/favourites/switzerland.png);
    flex: 1;
    /* margin: 10px; */
    padding: 30px;
  }

  button {
    background-color: rgb(106, 190, 155);
    color: white;
    border-radius: 8px;
    padding: 5px;
    border: none;
    cursor: pointer;
  }


  